$corDeFundo: #000;
$corDoTextoPrincipal: #fff;
$corDoTextoSecundario: #ff4444;
$corDeFundoSecundario: #00FF00;
$corBotaoGradient: linear-gradient(90deg, rgb(140, 0, 0), rgb(220, 30, 30));
$corBotaoGradientSecundario: linear-gradient(
  45deg,
  #ff0000,   // vermelho intenso
  #ff7f00,   // laranja queimado
  #000000    // preto
);

